<div class="row joinnow">
  <div class="col-8 align-self-center" style="text-align: center;">
    Are you a shop owner looking to grow your bussiness online?
  </div>
  <div class="col-4 align-self-center">
    <button class="btn joinnow-btn" style="border: 1px solid #000;">
      Join now
    </button>
  </div>
</div>

<div class="row footer padded">
  <div class="col-12">
    <p style="font-weight:500; font-size:16px">About Shops Nearby Me</p>
    <p>
      Shops Nearby you helps you discover the Nearby things to do, eat, buy or
      explore - whatever you are, who ever you are! We have more than 10k
      listings which include Restaurants, gym, spa, shopping malls other unique
      places located around you. Don't stop yet! Take it whenever you go with
      the shops nearby you mobile app. Based on your location and preference,
      our smart search engine will suggest new things to explore every time you
      open the app. What's more, with offers on everything around you.. you are
      sure to try something new everytime.
    </p>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div style="font-weight:500; font-size:16px">Useful Links</div>
            <a href="#" class="footer-links">About us</a>
            <a href="#" class="footer-links">Privacy Policy</a>
            <a href="#" class="footer-links">Terms and conditions</a>
          </div>
          <div class="col-6 align-self-end">
            <a href="#" class="footer-links">Contact us</a>
            <a href="#" class="footer-links">Blogs</a>
            <a href="#" class="footer-links">Carreers</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div style="font-weight:500; font-size:16px;">Follow Us</div>
        <img style="height:30px;width:30px;" src="../../assets/img/fb.svg" />
        <img
          style="height:30px;width:30px;margin:4px"
          src="../../assets/img/insta.svg"
        />
        <img
          style="height:30px;width:30px;"
          src="../../assets/img/twitter.svg"
        />
      </div>
    </div>
    <div style="margin-top: 15px;">
      Product of Himaja Infotech
    </div>
  </div>
</div>
<div class="row">
  <div
    class="col-12"
    style="background-color:grey;text-align: center;font-size:14px;padding: 8px 0px"
  >
    Copyright Shops Nearby Me. All Right Reserved.
  </div>
</div>
