shopsnearby-header {
  .header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: blue;
    color: white;
    background-image: url('../../../assets/img/map-bg.png'),
      linear-gradient(#39278b, #15184d);
  }
  .search-bar {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .current-location {
    margin: 0;
    padding-left: 10px;
    width: 30%;
    text-overflow: ellipsis;
    max-height: 1.1em;
    overflow: hidden;
    line-height: 1em;
    color: #000;
    white-space: nowrap;
  }
  .textBtn {
    padding-left: 16px;
    padding-right: 16px;
    background: transparent;
    color: white;
    border-width: 0;
    font-size: 16px;
  }
  .signupBtn {
    background: #f4b11b;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    border-radius: 30px;
    border: transparent;
  }

  .padded {
    padding-left: 10%;
    padding-right: 10%;
  }
  .navLinks {
    display: inline-block;
    font-size: 10px;
    color: white;
    margin-right: 2px;
  }
}
