.bg {
  background: blue;
  color: white;
  /* height: 200px; */
  background-image: url('../../assets/img/map-bg.png'),
    linear-gradient(#39278b, #15184d);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5b5b5b;
  color: white;
  padding: 10px 0px;
  text-align: center;
}

.container {
  background: #fff;
}

.shop_name {
  font-size: 18pt;
  height: 420px;
  width: 200px;
}

.border {
  width: 250px;
  height: 250px;
  margin: 6px;
  background-color: #cacaca;
  border-color: #1d2463;
  padding: 12px;
}

label {
  color: #676767;
}

.form-control {
  border-width: 1px;
  border-color: #1d2463;
  box-sizing: border-box;
}

.loginbtn {
  background: #f4b11b;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  border-radius: 20px;
}

.login_click {
  color: #676767;
  font-family: Arial;
  margin-left: 30px;
  size: 17px;
}

.login {
  color: black;
  font-family: Arial;
  margin-left: 20px;
  size: 17px;
}
