<div class="row">
  <div class="col-md-6" style="height:100vh;padding-right: 0px">
    <div style="position:relative; height: 100%; width: 100%">
      <div
        style="height:100%; width:100%;background-image: linear-gradient( #39278b,#15184d);position:absolute;"
      ></div>
      <div
        style="position:absolute;height: 70%; width:100%; margin-top: 20%; overflow: hidden;white-space: nowrap;direction: rtl"
      >
        <img src="../../assets/img/map-bg.png" />
      </div>
      <div
        style="position:absolute;height: 80%;margin-top: 15%;margin-left: 10%"
      >
        <img style="width: 95%;" src="../../assets/img/logo.svg" />
        <p style="color:white;margin-top: 20px;font-size: 30px">
          Explore. Discover. Share.
        </p>
      </div>

      <div
        style="position:absolute;display:flex; justify-content: flex-end; flex-direction: column;height: 100%;width: 100%"
      >
        <h3
          style="font-size:14px;color: white; margin-bottom: 40px; text-align: center"
        >
          Copyright &copy; Shops Nearby Me. All Rights reserved. {{ name }}
        </h3>
      </div>
    </div>
  </div>

  <div class="col-md-6" style="background:#ebebeb;padding-left: 40px">
    <div>
      <h4 style="color:#676767; margin-top: 15%;font-size: 30px">
        Welcome Back !
      </h4>
      <h6 style="color: #676767; font-size: 14px">
        It is a long established fact that a reader will be <br />
        distracted by the readable content of a page when {{ abhishek }}
      </h6>
      <form>
        <div class="form-group">
          <label
            style="color:#676767;margin-top:40px; font-size: 14px"
            for="exampleInputEmail1"
            >Email address</label
          >
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            class="form-control textbox"
            id="exampleInputEmail1"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label
            style="color:#676767;font-size: 14px"
            for="exampleInputPassword1"
            >Password</label
          >
          <input
            type="password"
            name="password"
            class="form-control textbox"
            id="exampleInputPassword1"
            [(ngModel)]="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group" style="text-align: right; width: 50%">
          <a style="color:#676767; font-size: 14px" href="#" class="ForgetPwd"
            >Forget Password?</a
          >
        </div>
        <div class="form-group">
          <button
            type="button"
            class="btn btn-default loginbtn"
            (click)="login()"
          >
            Login
          </button>
        </div>

        <div style="margin-top:50px">
          <h6 style="color:#676767; font-size: 14px">
            Don't have an account?<a style="color: #1d2463 " href="signup"
              >Sign Up</a
            >
          </h6>
        </div>
      </form>
    </div>
  </div>
</div>
