.loginbtn {
  background: #f4b11b;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 20px;
  border-radius: 30px;
}

.textbox {
  border: blue;
  border-radius: 5px;
  height: 50px;
  width: 50%;
}
