.loginbtn{
    background: #F4B11B;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 40px;
}

.textbox{
    border: blue;
    border-radius: 5px;
    height: 50px;
    width:50%;
}

.loadingBar{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
}