@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

shop-details-page {
  .signupBtn {
    background: #f4b11b;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 15px;
    border-radius: 20px;
  }

  .textBtn {
    padding-left: 16px;
    padding-right: 16px;
    background: transparent;
    color: white;
    border-width: 0;
    font-size: 15px;
  }

  .padded {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header {
    width: 100%;
    background-image: linear-gradient(#39278b, #15184d);
  }
  .navLinks {
    display: inline-block;
    font-size: 12px;
    color: white;
    margin-right: 2px;
  }

  .joinnow {
    background-color: #f4b11b;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #15184d;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 80px;
  }

  .joinnow-btn {
    margin: 0;
    display: inline-block;
    margin-left: 20px;
    height: 40px;
    background-color: white;
  }

  .footer {
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    padding: 20px 10% 20px 10%;
    color: white;
    justify-content: space-between;
    font-size: 12px;
  }

  .footer > * {
    margin: 0;
  }

  .footer-links {
    color: white;
    font-size: 12px;
    display: block;
  }
  .view-all-categories {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    width: 100%;
    padding: 15px 0px;
  }
  .recommendations {
    padding: 20px;
    background-image: url('../../assets/img/movie.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    position: relative;
  }

  ngx-slick.carousel {
    .slide {
      margin: 0px 10px;
      background-repeat: no-repeat;
      padding: 10px;
      height: 200px;
      position: relative;
      background-size: 100% 100%;
      span {
        background: #fff;
        border: none;
        border-radius: 5px;
        color: #000;
        font-size: 15px;
        padding: 3px 15px;
      }
    }
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: FontAwesome;
    font-size: 40px;
    line-height: 1;
    opacity: 0.75;
    color: grey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-prev {
    left: -36px;
    &:before {
      content: '\f137';
    }
  }

  .slick-next:before {
    content: '\f138';
  }
  .button-detail {
    margin-right: 15px;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 23px 3px #ccc;
    border: 1px solid #ccc;
  }
  .map {
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #000;
    background-size: 100% 100%;
    height: 184px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/gmaps.jpg');
  }
  .flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  .child {
    height: 130px;
    width: 130px;
    background: #fff;
    border: 1px solid #000;
    margin: 0px 12px 12px 0px;
    text-align: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .inner-div-text {
    line-height: 18px;
    margin-top: 10px;
  }
}
