<mat-progress-bar
  mode="indeterminate"
  color="accent"
  [hidden]="!loading"
  class="loadingBar"
></mat-progress-bar>
<div class="container-fluid">
  <shopsnearby-header [route]="'shop-details'"></shopsnearby-header>
  <div class="padded" style="padding-top: 20px; padding-bottom: 20px">
    <div class="row">
      <div class="col-md-12">
        <div class="button-detail">
          <i class="fa fa-bookmark" style="margin-right: 10px;"></i>Bookmark
        </div>
        <div class="button-detail">
          <i class="fa fa-star" style="margin-right: 10px;"></i>Rate
        </div>
        <div class="button-detail">
          <i class="fa fa-share-alt" style="margin-right: 10px;"></i>Share
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-4">
        <div style="font-size: 20px;">Phone Numbers</div>
        <div class="phone-numbers" style="margin-top: 10px;font-size: 14px;">
          <div>+91 9160016801</div>
          <div>+91 9160016801</div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="font-size: 20px;">Address</div>
        <div class="address" style="margin-top: 10px;font-size: 14px;">
          <div style="color: red;">4 Kms Away</div>
          <div>6-3-190/2, Road Number 1,</div>
          <div>Prem nagar, Banjaara hills</div>
          <div>Hyderabad, Telangana 500034</div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="font-size: 20px;">Map</div>
        <div class="map" style="position: relative;padding: 20px;">
          <div
            style="position: absolute;left: 0px;margin-bottom: 20px;color: #fff;margin-left: 20px;bottom: 0px;"
          >
            <div>6-3-190/2, Road Number 1, Prem Nagar</div>
            <div>Banjara Hills, Hyderabad, Telangana 500034</div>
            <div>View on Maps &#10132;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="font-size: 20px;">Open Timings</div>
        <div class="phone-numbers" style="margin-top: 10px;font-size: 14px;">
          <div>Open till 02:30AM</div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 35px;">
      <div class="col-md-12">
        <div style="font-size: 20px;">Gallery</div>
        <div class="flex-container" style="margin-top: 10px;">
          <div
            *ngFor="let url of (gallery | slice: 0:4); let i = index"
            style="cursor: pointer;"
            class="child"
            [ngStyle]="{'background-image': 'url(' + url + ')'}"
          ></div>
          <div
            class="child"
            style="cursor: pointer;display: table;"
            *ngIf="gallery.length > 4"
          >
            <div style="padding: 20px 20px 0px 20px;text-align: center;">
              <i class="fa fa-arrow-right" style="color: orange"></i>
              <div>View All Photos</div>
            </div>
            <div
              style="background: grey;text-align: center;display: table-row; color: #fff;"
            >
              +{{ gallery.length - 4 }} Photos
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 35px;">
      <div class="col-md-12">
        <div style="display: flex;justify-content: space-between;width: 100%;">
          <div>
            <h3>Offers by Bikanervala</h3>
            <p>View Offers by Bikanervala</p>
          </div>
          <button style="background:transparent;border:none;">View all</button>
        </div>
        <div class="{{ selectedRestaurant.label }}">
          <div
            *ngFor="let slide of selectedRestaurant.value"
            [ngStyle]="{
              'background-image':
                slide.imageUrl && slide.imageUrl.endsWith('null')
                  ? 'url(' + '../../assets/img/no-image.jpeg' + ')'
                  : 'url(' + slide.imageUrl + ')'
            }"
            class="slide"
          >
            <div style="text-align: right;"><span>10% off</span></div>
            <div style="position: absolute; bottom: 0px;margin-bottom: 10px;">
              <div style="color: #fff;">Mon to Fri: Buffet Breakfast</div>
              <div style="color: #fff;">
                Valid for: 1 Person | Valid on: Mon-Fri
              </div>
              <div style="color: #fff;">View Offer &#10132;</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 35px;">
      <div class="col-md-12">
        <div style="display: flex;justify-content: space-between;width: 100%;">
          <div>
            <h3>Similar Restaurants Nearby You</h3>
            <p>View more similar restaurants nearby you</p>
          </div>
          <button style="background:transparent;border:none;">View all</button>
        </div>

        <div class="{{ similarRestaurants.label }}">
          <div
            *ngFor="let slide of similarRestaurants.value"
            [ngStyle]="{
              'background-image':
                slide.imageUrl && slide.imageUrl.endsWith('null')
                  ? 'url(' + '../../assets/img/no-image.jpeg' + ')'
                  : 'url(' + slide.imageUrl + ')'
            }"
            class="slide"
          >
            <div style="text-align: right;">
              <span style="margin-right: 10px;"
                ><i class="fa fa-share-alt"></i
              ></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div style="position: absolute; bottom: 0px;margin-bottom: 10px;">
              <div style="color: #fff;">Fat Pigeon - Bar Hop</div>
              <div style="color: #fff;">Continental, Mexican, North Indian</div>
              <div style="color: #fff;">1km away</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <shopsnearby-footer></shopsnearby-footer>
</div>
